.loan-application-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  color: #1f2937;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.status {
  &.gray,
  &.green,
  &.red {
    color: #fff;
  }

  &.green {
    background-color: var(--green);
  }

  &.red {
    background-color: var(--red);
  }

  &.gray {
    background-color: var(--gray);
  }
}

.tabs {
  flex-direction: column;
}
