<!-- <p>loan-application works!</p>
<button (click)="viewApplication()"> View Application </button> -->

<div class="container">
    <div class="header">
        <h2 class="title">LOAN APPLICATION</h2>
        <div class="button-group">
            <button class="btn primary" (click)="addApplication()"> Add Loan Application </button>
        </div>
    </div>

    <div class="tabs">
        <div class="tab" routerLinkActive="active" [routerLink]="['list']">APPLICATION LIST</div>
        <div class="tab" routerLinkActive="active" [routerLink]="['release']">FOR RELEASING</div>
        <div class="tab" routerLinkActive="active" [routerLink]="['declined']">DECLINED LIST</div>
    </div>

    <router-outlet></router-outlet>
</div>