.loan-application-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 24px;
    font-weight: 700;
  }
}

.button-group {
  display: flex;
  gap: 12px;

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: var(--color-transition);
    box-shadow: var(--btn-shadow);

    &:active {
      transform: translateY(0.1em);
      box-shadow: var(--btn-shadow-active);
    }

    &.primary {
      background-color: var(--primary);
      color: #fff;

      &:hover {
        background-color: var(--primary-hover);
      }
    }

    &.green {
      background-color: var(--green);
      color: #fff;

      &:hover {
        background-color: var(--green-hover);
      }
    }

    &.red {
      background-color: var(--red);
      color: #fff;

      &:hover {
        background-color: var(--red-hover);
      }
    }

    &.gray {
      background-color: var(--gray);
      color: #fff;

      &:hover {
        background-color: var(--gray-hover);
      }
    }
  }
}

.tabs {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  .tab {
    flex: 1;
    text-align: center;
    padding: 12px 0;
    font-size: 16px;
    font-weight: 500;
    color: var(--gray);
    background: none;
    border: none;
    border-bottom: 2px solid var(--gray);
    opacity: 0.6;
    cursor: pointer;
    transition: var(--main-transition);

    &:hover {
      background-color: var(--white);
    }

    &:active {
      background-color: var(--white-hover);
    }

    &.active {
      color: var(--primary);
      font-weight: 700;
      opacity: 1;
      border-bottom: 3px solid var(--primary);
      background-color: white;
    }
  }
}

/* Responsive Enhancements */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .tabs {
    flex-direction: column;

    .tab {
      width: 100%;
    }
  }
}
