<div class="main-overlay">
  <div class="modal-container">
    <!-- Header Section -->
    <div class="modal-head">
      <div class="modal-title">
        <h1>New Maker Form</h1>
      </div>
      <button class="exit-button" (click)="closeModal()">&times;</button>
    </div>

    <!-- Form Body -->
    <div class="modal-body">
      <form [formGroup]="makerForm" (ngSubmit)="onSubmit()">
        <!-- Applicant Information Section -->
        <div class="makers-form">
          <h2>Applicant Maker's Information</h2>

          <!-- Personal Information -->
          <div class="section-group">
            <h3>Personal Details</h3>
            <div class="input-row">
              <div class="input-group">
                <label class="label">First Name*</label>
                <input
                  type="text"
                  class="text-field"
                  formControlName="first_name"
                  placeholder="Juan"
                  [class.invalid]="makerForm.get('first_name')?.invalid && makerForm.get('first_name')?.touched"
                />
                <small class="error-message"
                      [class.visible]="makerForm.get('first_name')?.invalid && makerForm.get('first_name')?.touched">
                  First name is required
                </small>
              </div>
              <div class="input-group">
                <label class="label">Middle Name</label>
                <input
                  type="text"
                  class="text-field"
                  formControlName="middle_name"
                  placeholder="Martinez"
                />
                <small class="error-message">&nbsp;</small>
              </div>
              <div class="input-group">
                <label class="label">Last Name*</label>
                <input
                  type="text"
                  class="text-field"
                  formControlName="last_name"
                  placeholder="Dela Cruz"
                  [class.invalid]="makerForm.get('last_name')?.invalid && makerForm.get('last_name')?.touched"
                />
                <small [class.visible]="makerForm.get('last_name')?.invalid && makerForm.get('last_name')?.touched" class="error-message">
                  Last name is required
                </small>
              </div>
              <div class="input-group-short">
                <label class="label">Ext Name</label>
                <input
                  type="text"
                  class="text-field"
                  formControlName="ext_name"
                  placeholder="Jr."
                />
                <small class="error-message">&nbsp;</small>
              </div>
            </div>
            <div class="input-row">
              <div class="input-group">
                <label class="label">Residence Address*</label>
                <input
                  type="text"
                  class="text-field"
                  formControlName="address"
                  placeholder="Lot No., Street Address, City, Province, Postal Code"
                  [class.invalid]="makerForm.get('address')?.invalid && makerForm.get('address')?.touched"
                />
                <small [class.visible]="makerForm.get('address')?.invalid && makerForm.get('address')?.touched" class="error-message">
                  Address is required
                </small>
              </div>
              <div class="input-group-short">
                <label class="label">Contact Number*</label>
                <input
                  type="text"
                  class="text-field"
                  formControlName="phone_num"
                  maxlength="11"
                  placeholder="09XXXXXXXXX"
                  (keypress)="validatePhoneNumberInput($event)"
                  [class.invalid]="makerForm.get('phone_num')?.invalid && makerForm.get('phone_num')?.touched"
                />
                <small [class.visible]="makerForm.get('phone_num')?.invalid && makerForm.get('phone_num')?.touched" class="error-message">
                  Valid 11-digit phone number required
                </small>
              </div>
            </div>
            <div class="input-row">
              <div class="input-group">
                <label class="label">Date of Birth*</label>
                <input
                  type="date"
                  class="text-field"
                  formControlName="birthdate"
                  [class.invalid]="makerForm.get('birthdate')?.invalid && makerForm.get('birthdate')?.touched"
                />
                <small [class.visible]="makerForm.get('birthdate')?.invalid && makerForm.get('birthdate')?.touched" class="error-message">
                  Birthdate is required
                </small>
              </div>
              <div class="input-group-short">
                <label class="label">Age*</label>
                  <input
                    type="number"
                    class="text-field"
                    formControlName="age"
                    min="18"
                    readonly
                  />
                 <small [class.visible]="makerForm.get('age')?.invalid && makerForm.get('birthdate')?.touched" class="error-message">
                  Age must be at least 18
                </small>
              </div>
            </div>
          </div>

          <!-- Employment Information -->
          <div class="section-group">
            <h3>Employment Details</h3>
            <div class="input-row">
              <div class="input-group">
                <label class="label">Dept./Office*</label>
                <input
                  type="text"
                  class="text-field"
                  formControlName="dept"
                  placeholder="Office"
                  [class.invalid]="makerForm.get('dept')?.invalid && makerForm.get('dept')?.touched"
                />
                <small [class.visible]="makerForm.get('dept')?.invalid && makerForm.get('dept')?.touched" class="error-message">
                  Department is required
                </small>
              </div>
              <div class="input-group">
                <label class="label">Position*</label>
                <input
                  type="text"
                  class="text-field"
                  formControlName="position"
                  placeholder="Position"
                  [class.invalid]="makerForm.get('position')?.invalid && makerForm.get('position')?.touched"
                />
                <small [class.visible]="makerForm.get('position')?.invalid && makerForm.get('position')?.touched" class="error-message">
                  Position is required
                </small>
              </div>
              <div class="input-group">
                <label class="label">Salary (per month)*</label>
                <input
                  type="number"
                  class="text-field"
                  formControlName="salary"
                  placeholder="ex. 18000"
                  min="0"
                  step="0.01"
                  [class.invalid]="makerForm.get('salary')?.invalid && makerForm.get('salary')?.touched"
                />
                <small [class.visible]="makerForm.get('salary')?.invalid && makerForm.get('salary')?.touched" class="error-message">
                  Valid salary amount required
                </small>
              </div>
              <div class="input-group">
                <label class="label">Employment Status*</label>
                <input
                  type="text"
                  class="text-field"
                  formControlName="ee_status"
                  placeholder="ex. Worker"
                  [class.invalid]="makerForm.get('ee_status')?.invalid && makerForm.get('ee_status')?.touched"
                />
                <small [class.visible]="makerForm.get('ee_status')?.invalid && makerForm.get('ee_status')?.touched" class="error-message">
                  Employment status is required
                </small>
              </div>
            </div>
          </div>

          <!-- Cooperative Membership -->
          <div class="section-group">
            <h3>Cooperative Membership</h3>
            <div class="input-row">
              <div class="input-group">
                <label class="label">Years as Coop Member*</label>
                <input
                  type="text"
                  class="text-field"
                  formControlName="years_coop"
                  placeholder="ex. 2 years"
                  [class.invalid]="makerForm.get('years_coop')?.invalid && makerForm.get('years_coop')?.touched"
                />
                <small [class.visible]="makerForm.get('years_coop')?.invalid && makerForm.get('years_coop')?.touched" class="error-message">
                  This field is required
                </small>
              </div>
              <div class="input-group">
                <label class="label">Amount of shares*</label>
                <input
                  type="number"
                  class="text-field"
                  formControlName="share_amount"
                  placeholder="ex. 18000"
                  min="0"
                  step="0.01"
                  [class.invalid]="makerForm.get('share_amount')?.invalid && makerForm.get('share_amount')?.touched"
                />
                <small [class.visible]="makerForm.get('share_amount')?.invalid && makerForm.get('share_amount')?.touched" class="error-message">
                  Valid amount required
                </small>
              </div>
              <div class="input-group">
                <label class="label">Amount of saving*</label>
                <input
                  type="number"
                  class="text-field"
                  formControlName="saving_amount"
                  placeholder="ex. 18000"
                  min="0"
                  step="0.01"
                  [class.invalid]="makerForm.get('saving_amount')?.invalid && makerForm.get('saving_amount')?.touched"
                />
                <small [class.visible]="makerForm.get('saving_amount')?.invalid && makerForm.get('saving_amount')?.touched" class="error-message">
                  Valid amount required
                </small>
              </div>
            </div>
          </div>
          
          <div class="form-footer">
            <button type="button" class="cancel-button" (click)="closeModal()">Cancel</button>
            <button type="submit" class="green-button" [disabled]="isLoading">
              <span *ngIf="!isLoading">Submit</span>
              <span *ngIf="isLoading">Processing...</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>