.main-content {
    width: 100%;
    transition: var(--main-transition);
}

.body-content {
    padding: 40px;
    margin-left: 200px;
    margin-top: 70px;
    transition: margin-left 0.3s;
}

.header {
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    padding: 15px 20px 15px 215px;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 98;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    transition: var(--main-transition);

    .menu-icon-button { // MENU ICON FOR 1024px MAX WIDTH
        display: none;
        background: none;
        border: none;
        font-size: 24px;
        padding: 5px 15px 5px 5px;
        right: 0;
        top: 0;
        cursor: pointer;
        color: var(--primary);
        transition: var(--main-transition);
    }

    .menu-icon-button:hover {
        color: var(--primary-hover);
    }
}

/***** SIDEBAR CONTENT *****/
.sidebar {
    position: relative;
    background-color: var(--primary);
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    // padding: 0px 10px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.400);
    transition: var(--main-transition);
    z-index: 100;

    a {
        color: white;
        opacity: 0.7;
    }

    .menu-icon-button { // MENU ICON BUTTON
        position: absolute;
        background: none;
        border: none;
        font-size: 24px;
        padding: 10px;
        right: 0;
        top: 0;
        cursor: pointer;
        color: white;
        opacity: 0.7;
        transition: var(--main-transition);
    }

    .menu-icon-button:hover {
        opacity: 1;
        color: white;
    }
}

// LOGO AND NAME
.upper-sidebar {
    justify-content: center;
    align-items: center;
    margin: 40px 20px 30px 20px;

    .company-logo img {
        padding: 30px 0;
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        margin: auto;
        transition: var(--main-transition);
        border-radius: none;
    }
}

// SIDEBAR TABS
.sidebar-content {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    
    ul { list-style: none; }

    .tabs {
        padding: 0;
        list-style: none;

        .first {
            border-top: 1px solid var(--bg-color);
        }
    
        .tab { // TAB
            border-bottom: 1px solid var(--bg-color);
            
            .tab-link-name { // TAB NAME
                padding-left: 10px;
                padding-top: 3px;
                font-size: 14px;
            }

            .tab-link-icon { // TAB ICON
                font-size: 20px;
            }

            a { // TAB STYLE
                display: flex;
                font-size: medium;
                padding: 10px 10px 10px 15px;
                height: 45px;
                text-decoration: none;
                transition: var(--main-transition);

                &:hover {
                    color: white;
                    background-color: var(--primary-hover);
                    transform: scale(1.01);
                }

                &.active-link {
                    color: var(--primary);
                    background-color: var(--bg-color);
                    opacity: 1;
                }

                &.active-link:hover {
                    color: var(--primary-hover);
                    background-color: var(--bg-dark);
                }
            }
        }
    }
}

.logoutbtn {
    position: fixed;
    bottom: 25px;
    left: 0;
    width: 200px;
    cursor: pointer;
    transition: all 0.5s ease;

    .logout {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
    
        i {
            padding: 10px 10px 10px 10px;
            transition: all 0.3s ease;
            color: var(--bg-color);
    
            &:hover {
                border-radius: 5px;
                background-color: var(--dark);
            }
        }
    }
}

// AUTO MINIMIZE SIDEBAR SIZE
@media (max-width: 1320px) {
    .sidebar.collapsed {
        width: 80px;
    }
  
    .header {
        padding-left: 215px;
        width: 100%;
    }

    .body-content {
        margin-left: 200px;
        width: calc(100% - 200px);
    }

} 

// FOR MINIMIZING SIDEBAR 
.sidebar.collapsed {
    width: 70px; 

    .menu-icon-button {
        position: absolute;
        font-size: 24px;
        padding: 5px;
        align-self: center;
        margin-top: 5px;
        left: 0;
        cursor: pointer;
        color: var(--white);
    }

    .company-logo img {
        display: none;
    }

    .tab-link-icon {
        padding-left: 10px;
        display: contents;
    }
    
    .logoutbtn {
        bottom: 20px;
        width: 70px;
    }

    .sidebar-content {
        .tabs {
            .tab {
                a {padding: 10px 10px 10px 25px;}
            }
        }
    }
}

// for smooth something ng tabs name
.sidebar.collapsed .tab-link-name {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0s 0.2s;
}

.sidebar:not(.collapsed) .tab-link-name {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out;
}

// WIDE MAIN CONTENT WHEN SIDEBAR COLLAPSED
.main-content.collapsed {
    .header {
        transition: padding-left 0.3s;
        transition: var(--main-transition);
        width: 100%;
        padding-left: 85px;
    }

    .body-content {
        margin-left: 70px;
        transition: margin-left 0.3s;
        width: calc(100% - 70px);
    }
}

// OVERLAY SIDEBAR
.sidebar.overlay {
    position: fixed;
    top: 0;
    width: 200px;
    height: 100%;
    z-index: 200;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

.sidebar.overlay.visible {
    left: 0;
    transform: translateX(0);
}

// OVERLAY SIDEBAR
@media (max-width: 1024px) {
    // .sidebar .logout { display: none; }

    .header {
        .menu-icon-button { display: flex; }
        .logout {
            display: block;
            i { p { display: flex; } }
        }

        img { display: none; }
    }

    .sidebar.collapsed {
        transform: translateX(-100%);
    }
    
    .main-content.collapsed {
        .header {
            width: 100%;
            padding-left: 15px;
        }
        
        .body-content {
            margin-left: 0;
            transition: margin-left 0.3s;
            width: 100%;
        }
    }

    .sidebar.overlay {
        width: 200px;
    }

    .sidebar-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 99;
        display: none;
        transition: opacity 0.3s ease-in-out;
    }

    .sidebar-overlay.visible {
        display: block;
    }

    .main-content.overlay .header, 
    .main-content.overlay .body-content {
        margin-left: 0;
        width: 100%;
        transition: var(--main-transition);
    }

    .main-content.overlay .header {
        padding-left: 15px;
    }
}