<div class="container" [ngClass]="{'collapsed': isSidebarCollapsed, 'overlay': isSidebarOverlay}">
    <!-- SIDEBAR CONTENT glor again -->
    <nav class="sidebar" [ngClass]="{'collapsed': isSidebarCollapsed, 'overlay': isSidebarOverlay}">
      <div class="upper-sidebar">
        <div class="company-logo">
          <img src="../../assets/logo/COOP_LOGO_GREEN.png">
        </div>

        <button class="menu-icon-button" (click)="toggleSidebar()">
            <i *ngIf="!isSidebarToggled" class="lni lni-angle-double-left"></i>
            <i *ngIf="isSidebarToggled" class="lni lni-angle-double-right"></i>
        </button>
      </div>

      <div class="sidebar-content">
        <ul class="tabs">
          <li class="tab first">
            <a class="tablink" routerLink="dashboard" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
              <span class="tab-link-icon"> <i class="lni lni-dashboard-square-1"></i> </span>
              <span class="tab-link-name"> Dashboard </span>
            </a>
          </li>
          <li class="tab" *ngIf="userRole === 'Loan Officer' || userRole === 'Superadmin'">
            <a class="tablink" routerLink="makers" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
              <span class="tab-link-icon"> <i class="lni lni-user-multiple-4"></i> </span>
              <span class="tab-link-name"> Makers </span>
            </a>
          </li>
          <li class="tab" *ngIf="userRole === 'Loan Officer' || userRole === 'Superadmin'">
            <a class="tablink" routerLink="comakers" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
              <span class="tab-link-icon"> <i class="lni lni-user-multiple-4"></i> </span>
              <span class="tab-link-name"> Co-Makers </span>
            </a>
          </li>
          <li class="tab">
            <a class="tablink" routerLink="loan" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:false}">
              <span class="tab-link-icon"> <i class="lni lni-file-plus-circle"></i></span>
              <span class="tab-link-name"> Loan Application </span>
            </a>
          </li>
          <li class="tab" *ngIf="userRole === 'Loan Officer' || userRole === 'Superadmin'">
            <a class="tablink" routerLink="insurance" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
              <span class="tab-link-icon"> <i class="lni lni-file-pencil"></i> </span>
              <span class="tab-link-name"> Insurance </span>
            </a>
          </li>
          <li class="tab first" *ngIf="userRole === 'Superadmin'">
            <a class="tablink" routerLink="logs" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
              <span class="tab-link-icon"> <i class="lni lni-notebook-1"></i> </span>
              <span class="tab-link-name"> Activity Log </span>
            </a>
          </li>
        </ul>

        <!-- LOGOUT BUTTON -->
        <div class="logoutbtn">
          <div class="logout" (click)="logoutUser()" >
              <span> <i class='bx bx-log-out bx-rotate-180' ></i> </span>
          </div>
      </div>
      </div>
    </nav>
</div>

<div class="sidebar-overlay" [ngClass]="{'visible': !isSidebarCollapsed}" (click)="toggleSidebar()"></div>

<!-- MAIN CONTENT -->
<div class="main-content" [ngClass]="{'collapsed': isSidebarCollapsed, 'overlay': isSidebarOverlay, 'blurred': isSidebarOverlay}">
    <!-- HEADER -->
    <nav class="header">
      <div class="head-title">
        <button class="menu-icon-button" (click)="toggleSidebar()">
          <i class='bx bx-menu'></i>
        </button>
      </div>
    </nav>

    <!-- MAIN BODY CONTENT -->
    <div class="body-content">
      <router-outlet></router-outlet>
    </div>
</div>
