.container {
    select {
        padding: 6px 12px;
        border-radius: 5px;
        border: 1px solid #ccc;
        background-color: #f8f8f8;
        cursor: pointer;
        transition: 0.3s;
    }

    .for-nodata {
        text-align: center;
        
        td:nth-child(1) {
            min-width: 100%;
            max-width: 100%;
        }
    }
}

.main-table {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--bg-color);
    padding: 20px;
    box-shadow: var(--table-shadow);
    border-radius: 5px;
    border: 1px solid var(--bg-dark);

    .table-head {
        display: flex;
        justify-content: flex-end;

        .search-wrapper {
            display: flex;
            align-items: center;
            border: 1px solid #ccc;
            border-radius: 5px;
            overflow: hidden;
            background-color: #f8f8f8;
    
            input[type="text"] {
                border: none;
                padding: 6px 10px;
                background-color: transparent;
                outline: none;
                width: 250px;
            }
    
            button {
                background-color: var(--primary);
                border: none;
                padding: 6px 10px;
                color: white;
                cursor: pointer;
    
                i {
                    font-size: 16px;
                }
            }
        }
    }

    .table-content {
        background-color: var(--bg-color);
        padding: 20px;
        box-shadow: var(--table-shadow);
        border-radius: 5px;
        border: 1px solid var(--bg-dark);
    }
}

table {
    width: 100%;
    border-collapse: collapse;

    th, td {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    thead {
        background: var(--primary);
        color: white;
        
        tr {
            display: flex;
            width: 100%;
        }

        th {
            flex: 1;
            padding: 12px;
            text-align: center;
            font-weight: 600;
        }
    }

    tbody {
        display: block;
        width: 100%;

        tr {
            display: flex;
            width: 100%;
            transition: var(--main-transition);

            &:hover {
                background-color: var(--bg-dark);
            }
        }

        td {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            padding: 12px;
            border-bottom: 1px solid #ddd;
            text-align: center;
        }

        tr:first-child td {
            padding-top: 15px;
        }

        tr:last-child td {
            padding-bottom: 15px;
        }
    }
}
  
.actions {
    text-align: center;

    .action {
        padding: 6px 12px;
        margin: 0 4px;
        border: none;
        border-radius: 4px;
        color: #fff;
        font-size: 14px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &.green-action {
            background-color: var(--primary);

            &:hover {
                background-color: var(--primary-hover);
            }
        }

        &.red-action {
            background-color: #cb1527;

            &:hover {
                background-color: #bb1223;
            }
        }
    }
}

.pagination-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding: 15px;
    width: 100%;

    .items-per-page {
        display: flex;
        align-items: center;
        gap: 5px;

        select {
            padding: 3px 5px;
            border-radius: 5px;
            border: 1px solid #ccc;
            background-color: #f8f8f8;
            outline: none;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                background-color: #ddd;
            }
              
            &:focus {
                background-color: var(--primary);
                border: 1px solid #ccc;
                color: white;
                font-weight: 600;
            }
        }

        option {
            background-color: white;
            color: black;
        }
    }

    .pagination-info {
        color: var(--black);
        opacity: 0.9;
    }

    .pagination {
        display: flex;
        gap: 5px;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 3px 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            background-color: #f8f8f8;
            cursor: pointer;
            transition: 0.3s;
    
            i {
                font-size: 20px;
                padding: 0;
            }

            &:hover {
                background-color: #ddd;
            }
              
            &:disabled {
                background-color: var(--white-hover);
                cursor: not-allowed;
            }
              
            &.active {
                background-color: var(--primary);
                color: white;
                font-weight: bold;
            }
        }
    }
}