<div class="main-table">
  <div class="table">
    <!-- Search Section -->
    <div class="table-head">
      <div class="export-wrapper">
        <button class="export-button">Export</button>
      </div>
      <div class="search-wrapper">
        <input
          type="text"
          placeholder="Search..."
          [(ngModel)]="searchQuery"
          (input)="applyFilters()"
          aria-label="Search users"
        />
        <button aria-label="Search">
          <i class="bx bx-search-alt"></i>
        </button>
      </div>
    </div>

    <!-- Table Section -->
    <div class="table-content">
      <table>
        <thead>
          <tr>
            <th>Full name</th>
            <th>Address</th>
            <th>Contact No.</th>
            <th>Status</th>
            <th *ngIf="userRole === 'Loan Officer' || userRole === 'Superadmin'">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="paginatedUsers.length === 0">
            <td colspan="5" style="text-align: center; padding: 20px;">There are currently no loan applications available.</td>
          </tr>
          <tr
            *ngFor="let loan of paginatedUsers"
            (click)="viewLoan()"
            tabindex="0"
            role="row"
            aria-label="User row"
          >
            <td>{{ loan.maker.first_name }}</td>
            <td>{{ loan.maker.address }}</td>
            <td>{{ loan.maker.phone_num }}</td>
            <td class="status {{ loan.status }}">{{ loan.loan_status }}</td>
            <td class="actions" *ngIf="userRole === 'Loan Officer' || userRole === 'Superadmin'">
              <ng-container *ngIf="loan.status !== 'Approved'">
              <button
                class="action green-action"
                (click)="approve(loan); $event.stopPropagation()"
                aria-label="Approve loan"
              >
                Approve
              </button>
              <button
                class="action red-action"
                (click)="decline(loan); $event.stopPropagation()"
                aria-label="Decline loan"
              >
                Decline
              </button>
              </ng-container>
              <button
               *ngIf="loan.status === 'Approved'"
                class="action blue-action"
                (click)="setSchedule(); $event.stopPropagation()"
                aria-label="Schedule user">
                Schedule
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Pagination Section -->
  <div class="pagination-container">
    <div class="items-per-page">
      <label for="itemsPerPage">Show:</label>
      <select
        id="itemsPerPage"
        [(ngModel)]="itemsPerPage"
        (change)="onItemsPerPageChange()"
        aria-label="Select number of items per page"
      >
        <option *ngFor="let option of [5, 10, 25, 50]" [value]="option">
          {{ option }}
        </option>
      </select>
      <span>entries</span>
    </div>
    <div class="pagination-info">
      Showing {{ startIndex + 1 }} to {{ endIndex }} of {{ totalItems }}
      entries
    </div>
    <div class="pagination">
      <button
        (click)="goToPreviousPage()"
        [disabled]="currentPage === 1"
        aria-label="Previous page"
      >
        <i class="bx bx-chevron-left"></i>
      </button>
      <button
        *ngFor="let page of totalPagesArray"
        (click)="goToPage(page)"
        [class.active]="page === currentPage">
        {{ page }}
      </button>
      <button
        (click)="goToNextPage()"
        [disabled]="currentPage === totalPages"
        aria-label="Next page"
      >
        <i class="bx bx-chevron-right"></i>
      </button>
    </div>
  </div>
</div>
