<div class="container">
  <div class="table">
    <div class="button-group">
      <div class="header">
        <h2 class="title">LIST OF MAKERS ACCOUNT</h2>
      </div>

      <div class="middle-content">
        <select [(ngModel)]="selectedMaker" (change)="applyFilters()">
          <option value="all">All Maker</option>
          <option value="officer">OCGEMPC officer/BOD</option>
          <option value="member">Member</option>
          <option value="non-member">Non-member</option>
        </select>

        <div class="search-wrapper">
          <input type="text" [(ngModel)]="searchQuery" (input)="applyFilters()" placeholder="Search..." />
          <button><i class="bx bx-search-alt"></i></button>
        </div>
      </div>
    </div>

    <div class="table-content">
      <table>
        <thead>
          <tr>
            <th>Full name</th>
            <th>Address</th>
            <th>Contact No.</th>
            <th>Birthday</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngIf="filteredUsers.length === 0">
            <td colspan="5" style="text-align: center; padding: 20px;">No maker accounts found at the moment.</td>
          </tr>
          <tr *ngFor="let user of filteredUsers" (click)="viewDetails(user)">
            <td>{{ getFullName(user) }}</td>
            <td>{{ user.address }}</td>
            <td>{{ user.phone_num }}</td>
            <td>{{ user.birthdate }}</td>
            <td class="actions">
              <button class="action red-action" (click)="viewSchedule(user); $event.stopPropagation()">Schedule</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
   <div class="pagination-container">
      <div class="items-per-page">
        <label for="itemsPerPage">Show:</label>
        <select id="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange()">
          <option *ngFor="let option of [5, 10, 25, 50]" [value]="option">{{ option }}</option>
        </select>
        <span>entries</span>
      </div>

      <div class="pagination-info">
        Showing {{ startIndex + 1 }} to {{ endIndex }} of {{ totalItems }} entries
      </div>

      <div class="pagination">
        <button (click)="goToPreviousPage()" [disabled]="currentPage === 1">
          <i class="bx bx-chevron-left"></i>
        </button>

        <button
          *ngFor="let page of totalPagesArray"
          (click)="goToPage(page)"
          [class.active]="page === currentPage">
          {{ page }}
        </button>

        <button (click)="goToNextPage()" [disabled]="currentPage === totalPages">
          <i class="bx bx-chevron-right"></i>
        </button>
      </div>
    </div>
</div>
