<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="Dashboard.css"> 
</head>
<body>
    <p class="header">DASHBOARD</p>
<div class="dashboard">
    <div class="widget">
        <span>total</span>
        <span>120</span>
    </div>
    <div class="widget">
        <span>total</span>
        <span>120</span>
    </div>
    <div class="widget">
        <span>total</span>
        <span>120</span>
    </div>
    <div class="widget">
        <span>total</span>
        <span>120</span>
    </div>
    </div>
    <div class="dashboard_2">
        <div class="widget">
            <span>total</span>
            <span>details</span>
        </div>
        <div class="widget">
            <span>total</span>
            <span>details</span>
        </div>
    </div>
    <div class="dashboard_3">
        <div class="widget">
            <span>total</span>
            <span>details</span>
        </div>
    </div>
</body>
</html>
