<div class="login-wrapper">
  <div class="login-container">
    <img src="../../assets/logo/COOP_LOGO_GREEN.png" alt="App Logo" class="logo" />
    <h2 class="title">Forgot your password?</h2>
    <p class="subtitle">Enter Email or Mobile to reset password.</p>

    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <input
          type="text"
          formControlName="identifier"
          placeholder="Enter Email or Mobile Number."
          class="form-input"
        />
        <div class="error" *ngIf="forgotForm.get('identifier')?.invalid && forgotForm.get('identifier')?.touched">
          Please enter a valid email or mobile number.
        </div>
      </div>

      <button type="submit" class="login-btn" [disabled]="forgotForm.invalid">Continue</button>
    </form>


    <button class="back-btn" routerLink="/login">Back to Login</button>
  </div>
</div>
