<!-- STEP 1: Enter Email -->
<div class="login-wrapper" *ngIf="step === 1">
  <div class="login-container">
    <img src="../../assets/logo/COOP_LOGO_GREEN.png" alt="App Logo" class="logo" />
    <h2 class="title">Forgot your password?</h2>
    <p class="subtitle">Enter Email to receive reset code.</p>

    <form [formGroup]="forgotForm" (ngSubmit)="onSendCode()">
      <div class="input-group">
        <input type="text" formControlName="email" placeholder="Enter Email" class="form-input" />
        <div class="error" *ngIf="forgotForm.get('email')?.invalid && forgotForm.get('email')?.touched">
          Please enter a valid email.
        </div>
      </div>
      <button type="submit" class="login-btn" [disabled]="forgotForm.get('email')?.invalid">Continue</button>
    </form>

    <button class="back-btn" routerLink="/login">Back to Login</button>
  </div>
</div>

<!-- STEP 2: Enter Code -->
<div class="login-wrapper" *ngIf="step === 2">
  <div class="login-container">
    <img src="../../assets/logo/COOP_LOGO_GREEN.png" alt="App Logo" class="logo" />
    <h2 class="title">Forgot Password</h2>
    <p class="subtitle">Enter Code</p>

    <form [formGroup]="forgotForm" (ngSubmit)="onVerifyCode()">
      <div class="input-group">
        <input type="text" formControlName="code" placeholder="Enter Code" class="form-input" />
        <div class="error" *ngIf="forgotForm.get('code')?.invalid && forgotForm.get('code')?.touched">
          Invalid Code
        </div>
      </div>
      <button type="submit" class="login-btn" [disabled]="forgotForm.get('code')?.invalid">Continue</button>
    </form>

    <button class="back-btn" (click)="step = 1">Back</button>
  </div>
</div>

<!-- STEP 3: Enter New Password -->
<div class="login-wrapper" *ngIf="step === 3">
  <div class="login-container">
    <img src="../../assets/logo/COOP_LOGO_GREEN.png" alt="App Logo" class="logo" />
    <h2 class="title">Reset Password</h2>
    <p class="subtitle">Enter New Password</p>

    <form [formGroup]="forgotForm" (ngSubmit)="onResetPassword()">
      <!-- New Password -->
      <div class="input-group">
        <input type="password" formControlName="newPassword" placeholder="New Password" class="form-input" />
        <div class="error" *ngIf="forgotForm.get('newPassword')?.invalid && forgotForm.get('newPassword')?.touched">
          Password must be at least 6 characters.
        </div>
      </div>

      <!-- Confirm Password -->
      <div class="input-group">
        <input type="password" formControlName="confirmPassword" placeholder="Confirm Password" class="form-input" />
        <div class="error" *ngIf="forgotForm.hasError('mismatch') && forgotForm.get('confirmPassword')?.touched">
          Passwords do not match.
        </div>
      </div>

      <button type="submit" class="login-btn"
        [disabled]="forgotForm.invalid">Change Password</button>
    </form>

    <button class="back-btn" (click)="step = 2">Back</button>
  </div>
</div>
