@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
  ));
}

:root {
    --primary: #508D4E;
    --primary-hover: #447d42;
    --dark: #1A5319;

    --bg-color: #FFFFFF;
    --bg-dark: #EFEFEF;

    --blue: #4682B4;
    --blue-hover: #3c719d;
    --red: #be1010;
    --red-hover: #9a0909;
    --gray: #7c7777;
    --gray-hover: #636060;

    --main-transition: all 0.3s ease-in-out;
    --color-transition: background-color 0.3s ease-in-out;

    --main-shadow: rgba(0, 0, 0, 0.2) 0px 3px 6px;
    --table-shadow: rgba(0, 0, 0, 0.16) 0px 3px 4px, rgba(0, 0, 0, 0.23) 0px 3px 4px;
    --modal-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --btn-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
    --btn-shadow-active: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Montserrat';
}

body {
    background-color: var(--bg-color);
    font-family: 'Montserrat';
    font-size: 15px;
}