:root {
    --primary: #508D4E;
    --primary-hover: #447d42;
    --dark: #1A5319;

    --bg-color: #FFFFFF;
    --bg-dark: #EFEFEF;

    --gray: #7c7777;

    --main-transition: all 0.3s ease-in-out;
    --color-transition: background-color 0.3s ease-in-out;

    --main-shadow: rgba(0, 0, 0, 0.2) 0px 3px 6px;
    --table-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    --modal-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --btn-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
    --btn-shadow-active: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Montserrat';
}

body {
    background-color: var(--bg-color);
    font-family: 'Montserrat';
    font-size: 15px;
}

// modal form
.modal-body,
.card-body {
    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    
        .input-row .input-group {
            flex-basis: 100%;
        }
    
        .input-row .input-group-short {
            flex-basis: 48%;
        }
    
        .input-row .input-group-shorter {
            flex-basis: 30%;
        }
    
        .input-row {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            gap: 20px;
    
            .text-field {
                font-family: 'Poppins';
                color: black;
                width: 100%;
                height: 50px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                border: none;
                outline: none;
                border-bottom: 2px solid var(--gray);
                font-size: 14px;
                padding: 20px 10px 3px;
                transition: var(--main-transition);
                background-color: var(--input-color);
                cursor: pointer;
            }

            .on-page {
                background-color: var(--bg-color);

                &:hover {
                    background-color: var(--black);
                }
            }
    
            .text-field:hover, .textarea-field:hover, .file-field:hover {
                background-color: var(--input-hover);
            }
    
            .text-field:focus, .textarea-field:focus, .file-field:focus {
                background-color: var(--white-hover);
                border-bottom: 2px solid var(--primary);
            }
    
            .textarea-field {
                font-family: 'Poppins';
                width: 100%;
                height: 150px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                resize: none;
                border: none;
                outline: none;
                border-bottom: 2px solid var(--gray);
                font-size: 14px;
                padding: 20px 10px 3px;
                transition: all 0.5s ease-in-out;
                background-color: var(--input-color);
            }
    
            .file-field {
                font-family: 'Poppins';
                width: 100%;
                height: 50px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                border: none;
                outline: none;
                border-bottom: 2px solid var(--gray);
                font-size: 14px;
                margin-top: 5px;
                transition: all 0.5s ease-in-out;
                background-color: var(--input-color);
            }
    
            input[type="file"]::file-selector-button {
                color: white;
                left: 0;
                margin-left: -0px;
                width: 100px;
                height: 50px;
                font-family: 'Poppins';
                font-size: 14px;
                cursor: pointer;
                background-color: var(--primary);
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                border: none;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 4px;
                transition: background-color 200ms;
            }
    
            .label {
                position: absolute;
                margin-top: 6px;
                margin-left: 10px;
                font-size: 11px;
                color: var(--input-label);
            }
    
            .up-label {
                position: absolute;
                margin-top: -13px;
                margin-left: 10px;
                font-size: 11px;
                color: var(--input-label);
            }
        }
    }
    
    // SUBMIT, CANCEL, AND DANGER BUTTON
    .buttons {
        display: flex;
        justify-content: flex-end;
        gap: 15px;
        padding: 10px 0;
    
        button {
            font-family: 'Poppins';
        }
    
        .submit-btn {
            background-color: var(--primary);
            width: auto;
            height: 40px;
            border: none;
            outline: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 4px;
            font-size: 14px;
            font-weight: 400;
            padding: 10px 30px;
            color: white;
            transition: var(--main-transition);
            cursor: pointer;

            &:hover {
                background-color: var(--primary-hover);
            }
    
            &[disabled] {
                background-color: var(--gray-hover);
                cursor: default;
                box-shadow: none;
                &:hover {
                    background-color: var(--gray-hover);
                }
            }
        }
    
        .cancel-btn {
            width: auto;
            height: 40px;
            border: none;
            outline: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 4px;
            border: 1px solid var(--bg-dark);
            font-size: 14px;
            font-weight: 400;
            padding: 10px 30px;
            color: black;
            transition: var(--main-transition);
            cursor: pointer;

            &:hover {
                background-color: var(--white-hover);
            }
        }
    
        .danger-btn {
            background-color: var(--red);
            width: auto;
            height: 40px;
            border: none;
            outline: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 4px;
            font-size: 14px;
            font-weight: 400;
            padding: 10px 30px;
            color: white;
            transition: var(--main-transition);
            cursor: pointer;


            &:hover {
                background-color: var(--red-hover);
            }
        }

        .green-btn {
            background-color: var(--green);
            width: auto;
            height: 40px;
            border: none;
            outline: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 4px;
            font-size: 14px;
            font-weight: 400;
            padding: 10px 30px;
            color: white;
            transition: var(--main-transition);
            cursor: pointer;

            &:hover {
                background-color: var(--green-hover);
            }
        }
    }
}

// header ng all
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;

    .title {
        h2 {
            font-size: 22px;
            font-weight: bold;
            color: var(--black);
        }
    }

    // date range
    .right-header {
        display: flex;
        gap: 15px;
        
        .date-input {
            display: flex;
            align-items: center;
            background-color: var(--primary); // Dark blue background
            color: white;
            border-radius: 5px;
        
            label {
              font-weight: 500;
              padding: 6px 15px;
            }
        
            input {
              border: 2px solid var(--primary);
              outline: none;
              padding: 6px;
              border-radius: 5px;
              color: #333;
            }
        }
    }
}

// buttons
.button-group {
    display: flex;
    gap: 10px;
    align-items: center;
    animation: var(--popIn);

    i {
        padding-right: 5px;
        font-size: 16px;
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        padding: 8px 15px;
        width: 150px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        box-shadow: var(--btn-shadow);

        &:active {
            transform: translateY(0.1em);
            box-shadow: var(--btn-shadow-active);
        }
    
        &.primary {
            background: var(--primary);
            color: white;
            transition: var(--color-transition);

            &:hover {
                background-color: var(--primary-hover);
            }
        }

        &.green {
            background-color: var(--green);
            color: white;
            transition: var(--color-transition);

            &:hover {
                background-color: var(--green-hover);
            }
        }

        &.red {
            background-color: var(--red);
            color: white;
            transition: var(--color-transition);

            &:hover {
                background-color: var(--red-hover);
            }
        }

        &.gray {
            background-color: var(--gray);
            color: white;
            transition: var(--color-transition);

            &:hover {
                background-color: var(--gray-hover);
            }
        }
    }
}

// table ng main pages
.table {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 20px;
    box-shadow: var(--main-shadow);
    border-radius: 5px;

    table {
        th, td {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.table-header {
    background: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: var(--table-shadow);
    animation: var(--popIn);
  
    table {
      width: 100%;
      border-collapse: collapse;
  
        thead {
            background: var(--primary);
            color: white;
            
            tr {
                display: flex;
                width: 100%;
            }
    
            th {
                flex: 1;
                padding: 12px;
                text-align: center;
                font-weight: 600;
            }
        }
    }
}
  
.table-body {
    background: white;
    border-radius: 5px;
    overflow: hidden;
    animation: var(--popIn);
  
    table {
        width: 100%;
        border-collapse: collapse;
    
        tbody {
            display: block;
            width: 100%;
    
            tr {
                display: flex;
                width: 100%;
                transition: var(--main-transition);

                &:hover {
                    background-color: var(--bg-color);
                }
            }
    
            td {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1;
                padding: 12px;
                border-bottom: 1px solid #ddd;
                text-align: center;
            }

            tr:first-child td {
                padding-top: 15px;
            }

            tr:last-child td {
                padding-bottom: 15px;
            }

            tr:last-child td {
                border-bottom: none;
            }
        }
    }

    .actions {
        text-align: center;
      
        .action {
          padding: 6px 12px;
          margin: 0 4px;
          border: none;
          border-radius: 4px;
          color: #fff;
          font-size: 14px;
          cursor: pointer;
          transition: background-color 0.3s ease;
      
          &.green-action {
            background-color: #28a745;
      
            &:hover {
              background-color: #218838;
            }
          }
      
          &.red-action {
            background-color: #dc3545;
      
                &:hover {
                    background-color: #c82333;
                }
            }
        }
    }
}
//swal
.swal-title {
    font-size: 22px !important;
}

.swal-confirm {
    font-size: 15px !important;
}

.swal-cancel {
    font-size: 15px !important;
}

// animations
@keyframes popIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes popUp {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}