<div class="modal-overlay">
  <div class="modal">
    <div class="modal-header">
      <h2>SET SCHEDULE</h2>
      <button class="close-button" (click)="closeModal()">&times;</button>
    </div>
    <div class="modal-body">
      <p>Set schedule for<br><strong>(Applicant Maker's Full Name)</strong></p>
      <label for="schedule-date">Set Date</label>
        <div class="input-group">
            <input type="date" id="schedule-date" placeholder="dd/mm/yyyy" />
            <i class='bx bx-calendar-alt calendar-icon'></i>
        </div>
      <button class="set-button">Set Schedule</button>
    </div>
  </div>
</div>
